---
import Layout from "../layouts/Layout.astro";

import FormCerdo from "../components/formularios/cerdo.astro";
---

<Layout>
        <header class="w-full">
        <div class="flex-row flex justify-around p-4 bg-gray-100 mb-4 w-2/3 mx-auto rounded-lg content-around mt-8">
            <a href="/">Inicio</a>
            <a href="/stock">Stock</a>
            <a href="/informe">informe</a>
        </div>
    </header>
    <FormCerdo />
</Layout>