---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	    <header class="w-full">
        <div class="flex-row flex justify-around p-4 bg-gray-100 mb-4 w-2/3 mx-auto rounded-lg content-around mt-8">
            <a href="/">Inicio</a>
            <a href="/stock">Stock</a>
            <!-- <a href="/informe">informe</a> -->
        </div>
    </header>
	<Welcome /> 
</Layout>
