---
import Lista from "../components/lista.astro";
import Layout from "../layouts/Layout.astro";


const data = await fetch(
  "https://web-66vzoi1semdv.up-de-fra1-k8s-1.apps.run-on-seenode.com/stock"
);

const estados = ["Inicio", "Produccion", "Envio", "Final"];
const grupos = ["Pollo", "Cerdo"];
const dataParse = await data.json();



---

<Layout>
    <header class="w-full">
        <div class="flex-row flex justify-around p-4  mb-4 w-2/3 mx-auto rounded-lg content-around mt-8">
            <a href="/">Inicio</a>
            <a href="/pollo">formularios</a>
            <!-- <a href="/informe">informe</a> -->
        </div>
    </header>
    <section class="text-center mb-8 mx-auto content-center w-2/3">
        <h1 class="text-4xl font-bold">Stock de Productos</h1>
        <p class="text-gray-600 mt-2">Consulta el stock disponible de productos de pollo y cerdo.</p>
        <Lista estados={estados} grupos={grupos} dataParse={dataParse}/>
    </section>
</Layout>